//
   Created by jordan on 2016/09/07.

doctype html
html
    head
        title Calculator app
        script(src="js/calculator.js")
    body
        h1
            | Calculator
        input(type="text" placeholder="Enter a value" id="working-input")
        div#buttons
            button(type="button" id="add-button") Add
            button(type="button") Subtract
            button(type="button") Multiply
            button(type="button") Divide
            button(type="button" id="equals-button") Equals


        script(src="js/page-interaction.js")





